.EstudiantesList{
    width: 100%;
}
.EstudiantesList__header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    background: #1C1939;

}
.EstudiantesList__titulo{
    color: #ffffff;
    font-size: 1.5em;
    font-weight: 700;
}
.EstudiantesList__row{
    display: flex;
}
.EstudiantesList__text1{
    margin-right: 5px;
    color: #e6e6e6;
}
.EstudiantesList__text2{
    color: #e4e2e2;
}
.EstudiantesList__scroll{
    background: #0A1E3B;
    width: auto;
    height: auto;
    padding: 10px;
    overflow-y: hidden;
    overflow-x: auto;
}