.PreguntaDetalle{
}
.PreguntaDetalle__centrado{

}
.PreguntaDetalle__head{
    background: #7f74e0;
}
.PreguntaDetalle__titulo{
    color: #cfcece;
}
.PreguntaDetalle__form{
    background: #7f74e0;
    color: #fffefe;
    font-size: 1.5em;
    font-weight: 700;
}
.PreguntaDetalle__label{

}
.PreguntaDetalle__body{

}
.PreguntaDetalle__head{

}
.PreguntaDetalle__body--text1{
    color: #cfcece;
}