.youtubeEdit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.youtubeEdit__centrado{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.youtubeEdit__video{
    width: 100%;
    background: #7C6EFF;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.youtubeEdit__video--iframe{
    width: 450px;
    height: 350px;   
}
.youtubeEdit__video--titulo{
    width: 450px;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: 700;
}
.youtubeEdit__video--subtitulo{
    width: 100%;
    color: #ffffff;
    font-size: 1em;
    font-weight: 400;
}
.youtubeEdit__comunidad{
    width: 100%;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.youtubeEdit__comunidad--opciones input[type="checkbox"]{
    display: none;
}
.youtubeEdit__comunidad--opciones label{
    color: #1C1939;
    background: #9EA6BE;
    padding: 5px;
    display: inline-block;
    border-radius: 3px;
    cursor: pointer;
    margin: 3px;
}
.youtubeEdit__comunidad--opciones label:hover{
    color: #ffffff;
    background: #4b4a5e;
}
.youtubeEdit__comunidad--opciones input[type="checkbox"]:checked + label{
    color: #ffffff;
    background: #1C1939;
}
.youtubeEdit__comentarios{
    width: 100%;
    box-sizing: border-box;
}
@media screen and (min-width:320px){
    .youtubeEdit__video--iframe{
        width: 100%;
        height: 220px;   
    }
    .youtubeEdit__video--titulo{
        width: 100%;
        font-size: 1.2em;
    }
}
@media screen and (min-width:400px){
   
}
@media screen and (min-width:600px){
    .youtubeEdit__video--iframe{
        width: 100%;
        height: 400px;   
    }
    .youtubeEdit__video--titulo{
        width: 100%;
        font-size: 1.3em;
    }
}
@media screen and (min-width:768px){
    .youtubeEdit__video--iframe{
        width: 80%;
        height: 400px;   
    }
    .youtubeEdit__video--titulo{
        width: 80%;
        font-size: 1.3em;
    }
}
@media screen and (min-width:850px){
    .youtubeEdit__video--iframe{
        width: 75%;
        height: 400px;   
    }
    .youtubeEdit__video--titulo{
        width: 75%;
        font-size: 1.3em;
    }
}
@media screen and (min-width:1024px){
    .youtubeEdit__video--iframe{
        width: 70%;
        height: 400px;   
    }
    .youtubeEdit__video--titulo{
        width: 70%;
        font-size: 1.3em;
    }
}
@media screen and (min-width:1100px){
    .youtubeEdit__video--iframe{
        width: 60%;
        height: 400px;   
    }
    .youtubeEdit__video--titulo{
        width: 60%;
        font-size: 1.4em;
    }
}
@media screen and (min-width:1240px){
    .youtubeEdit__video--iframe{
        width: 55%;
        height: 400px;   
    }
    .youtubeEdit__video--titulo{
        width: 55%;
        font-size: 1.5em;
    }
}
@media screen and (min-width:1440px){
    .youtubeEdit__video--iframe{
        width: 50%;
        height: 400px;   
    }
    .youtubeEdit__video--titulo{
        width: 50%;
        font-size: 1.5em;
    }
}