.AporteItem{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom:1px solid #CDD0D4 ;
}
.AporteItem__header{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
}
.AporteItem__ico{
    box-sizing: border-box;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    border-radius: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ED204D;
    color: #1C1939;
    font-weight: 700;
}
.AporteItem__ico img{
    width: 30px;
    height: 30px;
}
.AporteItem__usuario{
    display: flex;
    flex-direction: column;
}
.AporteItem__nombre{
    font-weight: 700;
    color: #1C1939;
}
.AporteItem__fecha{
    font-size: .7em;
    color: #9EA6BE;
}
.AporteItem__body{
    box-sizing: border-box;
    margin-top: 5px;
    width: 100%;
    font-weight: 400;
    color: #1C1939;
}
.AporteItem__footer{
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.AporteItem__respuestas{
    display: flex;
    align-items: center;
    font-weight: 300;
    color: #9EA6BE;
    font-size: .7em;
}
.AporteItem__respuestas img{
    margin-left: 5px;
    width: 15px;
    height: 15px;
}
.AporteItem__borrar{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    width: 20px;
    height: 20px;
    background: #7165E3;
    margin-right: 5px;
}
.AporteItem__borrar img{
    width: 10px;
    height: 10px;
}