@media screen and (min-width:1024px){
    .slider{
        height: 700px;
    }

    .navbar__titulo{
        font-size: 2em;
    }
    .nav-links__pages li a, .nav-links__admin li a{
        font-size: 1.75em;
    }
    .Video{
        height: 480px;
    }
    .Video__titulo{
        font-size: 2.5em;
    }
    .Video__video--size{
        width: 900px;
        height: 400px;
    }
    .footer__titulo{
        font-size: 2em;
    }
    .red__icono{
        width: 70px;
    }
    .red__titulo{
        font-size: 1.75em;
    }
    .contacto{
        flex-direction: row;
    }
    .contacto__icono{
        width: 35px;
    }
    .menu-container{
        padding-right:70px;
        top:120px;
        /* right:unset */
    }

}
@media screen and (min-width:1100px){
    .slider{
        height: 800px;
    }
    
    .Video{
        height: 580px;
    }
    .Video__titulo{
        font-size: 2.5em;
    }
    .Video__video--size{
        width: 1000px;
        height: 500px;
    }
    .footer__titulo{
        font-size: 2em;
    }
    .red__icono{
        width: 70px;
    }
    .red__titulo{
        font-size: 1.75em;
    }
    .contacto{
        flex-direction: row;
    }
    .contacto__icono{
        width: 35px;
    }

}
@media screen and (min-width:1240px){
    .slider{
        height: 900px;
    }
    
    .Video{
        height: 800px;
    }
    .Video__titulo{
        font-size: 2.75em;
    }
    .Video__video--size{
        width: 1200px;
        height: 700px;
    }
    .footer__titulo{
        font-size: 2.25em;
    }
    .red__icono{
        width: 70px;
    }
    .red__titulo{
        font-size: 2em;
    }
    .contacto{
        flex-direction: row;
    }
    .contacto__icono{
        width: 40px;
    }

}
@media screen and (min-width:1440px){
    .slider{
        height: 1000px;
    }
   
    .video{
        height: 800px;
    }
    .Video__titulo{
        font-size: 2.75em;
    }
    .Video__video--size{
        width: 1200px;
        height: 650px;
    }
    .footer__titulo{
        font-size: 2.5em;
    }
    .red__icono{
        width: 80px;
    }
    .red__titulo{
        font-size: 2.5em;
    }
    .contacto{
        flex-direction: row;
    }
    .contacto__icono{
        width: 50px;
    }


}