@media screen and (min-width:1024px){
    .slider{
        height: 700px;
    }
    .Navbar__titulo{
        font-size:2em;
    }
    .Navbar__subtitulo{
        font-size:1.5em;
    }
    .Video{
        height: 480px;
    }
    .Video__titulo{
        font-size: 2.5em;
    }
    .Video__video--size{
        width: 900px;
        height: 400px;
    }
    .footer__titulo{
        font-size: 2em;
    }
    .red__icono{
        width: 70px;
    }
    .red__titulo{
        font-size: 1.75em;
    }
    .contacto{
        flex-direction: row;
    }
    .contacto__icono{
        width: 35px;
    }
    /* .burger-btn{
        width:60px;
        height:60px;
        position:fixed;
        top:40px
    }
    .burger-btn i{
        width:100%
    }
    .burger-btn i:first-child{
        top:20px
    }
    .burger-btn i:nth-child(2){
        width:45px;
        top:28.5px;
        left:7.5px
    }
    .burger-btn i:last-child{
        width:30px;
        bottom:20px;
        left:15px
    }
    .burger-btn--active i:first-child{
        top:30px
    }
    .burger-btn--active i:last-child{
        width:100%;
        bottom:27px;
        left:0
    } */
    .menu-container{
        padding-right:70px;
        top:120px;
        /* right:unset */
    }
}
@media screen and (min-width:1100px){
    .slider{
        height: 800px;
    }
    .Navbar__titulo{
        font-size:2.25em;
    }
    .Navbar__subtitulo{
        font-size:2em;
    }
    .Video{
        height: 580px;
    }
    .Video__titulo{
        font-size: 2.5em;
    }
    .Video__video--size{
        width: 1000px;
        height: 500px;
    }
    .footer__titulo{
        font-size: 2em;
    }
    .red__icono{
        width: 70px;
    }
    .red__titulo{
        font-size: 1.75em;
    }
    .contacto{
        flex-direction: row;
    }
    .contacto__icono{
        width: 35px;
    }
}
@media screen and (min-width:1240px){
    .slider{
        height: 900px;
    }
    .Navbar__titulo{
        font-size:2.5em;
    }
    .Navbar__subtitulo{
        font-size:2.25em;
    }
    .Navbar{
        height: 110px;
    }
    .logo__img{
        width: 90px;
    }
    .Video{
        height: 800px;
    }
    .Video__titulo{
        font-size: 2.75em;
    }
    .Video__video--size{
        width: 1200px;
        height: 700px;
    }
    .footer__titulo{
        font-size: 2.25em;
    }
    .red__icono{
        width: 70px;
    }
    .red__titulo{
        font-size: 2em;
    }
    .contacto{
        flex-direction: row;
    }
    .contacto__icono{
        width: 40px;
    }
    
}
@media screen and (min-width:1440px){
    .slider{
        height: 1000px;
    }
    .Navbar__titulo{
        font-size:2.75em;
    }
    .Navbar__subtitulo{
        font-size:2.5em;
    }
    .Navbar{
        height: 120px;
    }
    .logo__img{
        width: 100px;
    }
    .video{
        height: 800px;
    }
    .Video__titulo{
        font-size: 2.75em;
    }
    .Video__video--size{
        width: 1200px;
        height: 650px;
    }
    .footer__titulo{
        font-size: 2.5em;
    }
    .red__icono{
        width: 80px;
    }
    .red__titulo{
        font-size: 2.5em;
    }
    .contacto{
        flex-direction: row;
    }
    .contacto__icono{
        width: 50px;
    }
}