.footer{
    background: #4A5673;
    width: 100%;
    height: auto;
    color: rgb(255, 255, 255);
    padding: 10px;
    box-sizing: border-box;
}

.footer__titulo{
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.red{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
}
.red__uno{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.red__icono{
    margin-bottom: 5px;
}
.red__titulo{
    color: rgb(255, 255, 255);
}
.contacto{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
}
.contacto__uno{
    display: flex;
    align-items: center;
}
.contacto__icono{
    margin-right: 5px;
}
.footer a{
    text-decoration-color: rgba(255, 255, 255, 0.4);
}
.footer a:hover{
    -webkit-text-decoration-color:#FFF;
    text-decoration-color:#FFF
}
@media screen and (min-width:320px){
    .contacto{
       flex-direction: column;
    }
}