.ListaDocenteItem{
    margin-bottom: 10px;
    width: fit-content;
    border:.5px solid #d3d1e2;
    border-radius: 3px;
    background: #ffffff;
    /* box-shadow:  0px 1px 5px #ffffff; */
}
.ListaDocenteItem__header{
    display: flex;
    align-items: center;
}
.ListaDocenteItem__ico{
    height: auto;
    font-weight: 700;
    font-size: 1.4em;
}
.ListaDocenteItem__ico img{
    width: 30px;
    height: 30px;
}
.ListaDocenteItem__column{
    box-sizing: border-box;
    padding: 3px;
    border-right: 1px solid #b6b1e0;
   
}
.ListaDocenteItem__nombre{
    color: #1C1939;
}
.ListaDocenteItem__apellido{
    color: #1C1939;
}
.ListaDocenteItem__titulo{
    color: #1C1939;

}
.ListaDocenteItem__input{
    box-sizing: border-box;
    width: 100%;
    padding: 2px;
    color: #2C2948;
    background: #F7F7F7;
    font-weight: 300;
    outline: none;
    height: 40px;
    border: 1px solid #7165E3;
    margin-bottom: 20px;
    border-radius: 10px;
}
.ListaDocenteItem__input2{
    box-sizing: border-box;
    width: 100%;
    padding: 2px;
    color: #2C2948;
    background: #F7F7F7;
    font-weight: 300;
    outline: none;
    height: 40px;
    border: 1px solid #7165E3;
    margin-bottom: 5px;
    border-radius: 5px;
}

.ListaDocenteItem__numero{
    white-space: nowrap;
    color: #1a405f;
}
.amarillo{
    background: #8bcbc8;
}
.rojo{
    background: #ecc7c0;
}
.celeste{
    background: #fdae84;
}                        
.numero{
    width: 40px;
}
.nombre{
    width: 180px;
}
.correo{
    width: 340px;
}
.celular{
    width: 160px;
}