.Navbar{
    background-color: #C81D11;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.Navbar__logo{
    display: flex;
    align-items: center;
}
.Navbar__logo--margen{
    margin-right: 5px;
}
.Navbar__titulo{
    font-size:1.125em;
    font-weight:600;
    color:#FFF
}
.Navbar__subtitulo{
    font-size:1.125em;
    font-weight:600;
    color:#FFF
}
.burger-btn{
    width:50px;
    height:50px;
    margin-left:auto;
    position:relative;
    z-index:30;
    cursor:pointer
}
.burger-btn i{
    display:inline-block;
    width:100%;
    height:3px;
    position:absolute;
    transition:all 500ms;
    background:#FFF
}
.burger-btn i:first-child{
    top:15px
}
.burger-btn i:nth-child(2){
    width:37.5px;
    top:23.5px;
    left:6.25px
}
.burger-btn i:last-child{
    width:25px;
    bottom:15px;
    left:12.5px
}
.burger-btn--active i{
    background:#0088f6
}
.burger-btn--active i:first-child{
    top:25px;
    transform:rotateZ(-45deg);
    box-shadow:none
}
.burger-btn--active i:nth-child(2){
    opacity:0;
    transform:translateX(100px)
}
.burger-btn--active i:last-child{
    width:100%;
    bottom:22px;
    left:0;
    transform:rotateZ(45deg);
    box-shadow:0 0 2px #000
}
.arrow{
    display:block;
    width:25px;
    height:30px;
    position:relative
}
.arrow:after,.arrow:before{
    content:"";
    width:100%;
    height:3px;
    position:absolute;
    left:0;
    transform-origin:left;
    transition:all 300ms;
    background:#FFF
}
.arrow:before{
    top:15px;
    transform:rotateZ(-45deg)
}
.arrow:after{
    bottom:14px;
    transform:rotateZ(45deg)
}
.arrow:hover:before{
    transform:rotateZ(-60deg)
}
.arrow:hover:after{
    transform:rotateZ(60deg)
}
.arrow.active:after,.arrow.active:before{
    transform:rotateZ(0deg)
}
.arrow.go:after,.arrow.go:before{
    transform:translate(-200%);
    opacity:0
}