.navbar{
    width: 100%;
    height: 100px;
    background: #C81D11;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-around;
}
.navbar__logo{
    display: flex;
    align-items: center;
}
.navbar__titulo{
    color: white;
    font-weight: 900;
    font-size: 1.75em;
}
.logo__img{
    width: 60px;
}
.line{
    width: 50px;
    height: 4px;
    background: white;
    margin: auto;
}
.hamburger{
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    width: 60px;
    height: 50px;
    z-index: 2;
}
.nav-links{
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    list-style: none;
    background: rgba(0, 0, 0, .8);
    height: 100vh;
    width: 100%;
    z-index: 1;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    flex-direction: column;
    transition: 1s;
    transform: translate(100%);
}
.nav-links--open{
    transform: translate(0%);
}
.nav-links__pages{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: space-around;
}
.nav-links__admin{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: space-around;
}
.nav-links__pages li a{
    color: white;
    text-decoration: none;
    font-size: 2em;
}
.nav-links__admin li a{
    color: #FB6A57;
    text-decoration: none;
    font-size: 2em;
}
.nav-links li a img{
    opacity: 0.6;
}
.nav-links li a:hover img, .nav-links li a:hover{
    opacity: 1;
    text-decoration: underline;
    text-decoration-color: white;
}

.arrow{
    display:block;
    width:25px;
    height:30px;
    position:relative
}
.arrow:after,.arrow:before{
    content:"";
    width:100%;
    height:3px;
    position:absolute;
    left:0;
    transform-origin:left;
    transition:all 300ms;
    background:#FFF
}
.arrow:before{
    top:15px;
    transform:rotateZ(-45deg)
}
.arrow:after{
    bottom:14px;
    transform:rotateZ(45deg)
}
.arrow:hover:before{
    transform:rotateZ(-60deg)
}
.arrow:hover:after{
    transform:rotateZ(60deg)
}
.arrow.active:after,.arrow.active:before{
    transform:rotateZ(0deg)
}
.arrow.go:after,.arrow.go:before{
    transform:translate(-200%);
    opacity:0
}