@media screen and (min-width:200px){
    .slider{
        height: 200px;
    }
    .logo__img{
        width: 40px;
    }
    .navbar__titulo{
        font-size: 1em;
    }
    .line{
        width: 30px;
    }
    .nav-links__pages li a, .nav-links__admin li a{
        font-size: 1em;
    }
    .Video{
        height: 180px;
    }
    .Video__titulo{
        font-size: 0.75em;
    }
    .Video__video--size{
        width: 90%;
        height: 150px;
    }
    .footer__titulo{
        font-size: .75em;
    }
    .red__icono{
        width: 40px;
    }
    .red__titulo{
        font-size: .75em;
    }
    .contacto{
        flex-direction: column;
    }
    .contacto__uno{
        margin-bottom: 10px;
    }
    .contacto__icono{
        width: 20px;
    }
    .menu-container{
        padding-right:20px;
        top:50px;
        right:unset
    }

}
@media screen and (min-width:400px){
    .slider{
        height: 300px;
    }
    .logo__img{
        width: 50px;
    }
    .navbar__titulo{
        font-size: 1.25em;
    }
    .line{
        width: 40px;
    }
    .nav-links__pages li a, .nav-links__admin li a{
        font-size: 1.25em;
    }
    .Video{
        height: 250px;
    }
    .Video__titulo{
        font-size: 1.5em;
    }
    .Video__video--size{
        width: 380px;
        height: 200px;
    }
    .footer__titulo{
        font-size: 1em;
    }
    .red__icono{
        width: 45px;
    }
    .red__titulo{
        font-size: 1em;
    }
    .contacto{
        flex-direction: column;
    }
    .contacto__uno{
        margin-bottom: 10px;
    }
    .contacto__icono{
        width: 25px;
    }
    .menu-container{
        padding-right:20px;
        top:60px;
        right:50px
    }
}
@media screen and (min-width:600px){
    .slider{
        height: 450px;
    }
    .logo__img{
        width: 60px;
    }
    .navbar__titulo{
        font-size: 1.5em;
    }
    .line{
        width: 45px;
    }
    .nav-links__pages li a, .nav-links__admin li a{
        font-size: 1.5em;
    }
    .Video{
        height: 320px;
    }
    .Video__titulo{
        font-size: 1.75em;
    }
    .Video__video--size{
        width: 500px;
        height: 250px;
    }
    .footer__titulo{
        font-size: 1.25em;
    }
    .red__icono{
        width: 50px;
    }
    .red__titulo{
        font-size: 1em;
    }
    .contacto{
        flex-direction: row;
    }
    .contacto__icono{
        width: 20px;
    }
    .menu-container{
        padding-right:20px;
        top:60px;
        right:60px
    }
    

}
@media screen and (min-width:768px){
    .slider{
        height: 550px;
    }
    .logo__img{
        width: 60px;
    }
    .navbar__titulo{
        font-size: 1.5em;
    }
    .line{
        width: 50px;
    }
    .nav-links__pages li a, .nav-links__admin li a{
        font-size: 1.75em;
    }
    .Video{
        height: 420px;
    }
    .Video__titulo{
        font-size: 2em;
    }
    .Video__video--size{
        width: 700px;
        height: 350px;
    }
    .footer__titulo{
        font-size: 1.5em;
    }
    .red__icono{
        width: 55px;
    }
    .red__titulo{
        font-size: 1.25em;
    }
    .contacto{
        flex-direction: row;
    }
    .contacto__icono{
        width: 25px;
    }

}
@media screen and (min-width:850px){
    .slider{
        height: 600px;
    }
    .logo__img{
        width: 62px;
    }
    .navbar__titulo{
        font-size: 1.75em;
    }
    .line{
        width: 50px;
    }
    .Video{
        height: 420px;
    }
    .Video__titulo{
        font-size: 2.25em;
    }
    .Video__video--size{
        width: 700px;
        height: 350px;
    }
    .footer__titulo{
        font-size: 1.75em;
    }
    .red__icono{
        width: 60px;
    }
    .red__titulo{
        font-size: 1.5em;
    }
    .contacto{
        flex-direction: row;
    }
    .contacto__icono{
        width: 30px;
    }
}