.Video{
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin-top: 10px;
    width: 100%;
    height: 800px;
}
.Video__section-header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Video__titulo{
    color: #707070;
    font-weight: 900;
    margin-bottom: 10px;
}
.Video__section-video{
    display: flex;
    align-items: center;
    justify-content: center;
}
