@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Anton');


* {
    margin:0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Lato', 'Helvetica Neue', sans-serif;
  background-color: #F9F9FB;
}

h1 {
  font-family: 'Anton', sans-serif;
}

a.link-unstyled {
  color: inherit;
}

a.link-unstyled:hover {
  color: inherit;
  text-decoration: none;
}
.boton__imprimir{
  width: 200px;
  background: #7165e3;
  height: 40px;
  font-size: 20px;
  color: #fffefe;
  outline: none;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
  margin-bottom: 20px;
}
.noacceso{
  color: #7165E3;
  font-weight: 400;
  width: 100%;
  display: flex;
  justify-content: center;
}